.background_image video{
    position: absolute;
    width: 100%;
    height: 80vh;
    object-fit: fill;   
}
header {
    height: 772px !important;
}
footer {
    background-color: #454545;
    color: white;
    display: flex;
    height: 250px;
}
#visual_h1 {
    font-size: 50px;
    text-align: center;
    margin: 14% 0 10%;
}
#visual_span {
    color: #355764;
}
footer #leftFoot,
footer #centerFoot,
footer #rightFoot {
    margin-top: 3%;
    line-height: 30px;
}
#leftFoot {
    margin: 1%;
    margin-right: 20%;
    margin-left: 2%;
}
#centerFoot {
    margin: 1%;
    margin-right: 20%;
}
#rightFoot {
    margin: 1%;
}
.container {
    width: 100%;
    height: 1400px;
    padding-top: 50px;
}
.container h1 {
    padding-bottom: 50px;
    text-align: center;
    font-family: "Orbit-Regular";
}
.content {
    display: flex;
}
.content:nth-child(2) {
    margin-top: 4%;
}
#artworks {
    width: 500px;
    height: 600px;
    float: left;
    border-radius: 13px;
    border: 2px solid black;
}
#artworks:nth-child(1) {
    margin-left: 400px;
}
#artworks:nth-child(2){
    margin-left: 60px;
}
#artworks-wrapper {
    width:1600px;
}
#artworks img {
    width: 500px;
    height: 300px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}
#move {
    background:url(/images/g_right_b.png);
    background-repeat: no-repeat;
    width:40px;
    height:40px;
    border: 0;
}
#artworks label img {
    width: 30px;
    height: 28px;
    background-size: cover;
    margin: 36% 0% 0% 84%;
}
ul li:nth-child(1) {
    margin-left: 1100px;
}
.nav, .logo {
    margin-top: 28px;
}
.logo {
    padding-top: 0px !important;
}
.section input[id*="slide"] {
    display: none;
}
.section .slidewrap {
    max-width: 100%;
    height: 890px;
    margin: 0 auto;
    overflow: hidden;
}
.section .slidelist {
    white-space: nowrap;
    font-size: 0;
}
.section .slidelist > li {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: 1.7s;
}
.section .slidelist > li > a {
    display: block;
    position: relative;
}
.section .slidelist > li > a img {
    width: 100%;
    height: 890px;
    z-index: 100;
}
.section .slidelist label {
    position: absolute;
    z-index: 10;
    top: 184%;
    transform: translateY(-50%);
    padding: 50px;
    cursor: pointer;
}
/* 좌우 이동 버튼 */
.section .slidelist .left {
    left: 30px;
    background: url("/images/left.png") center center / 100% no-repeat;
}
.section .slidelist .right {
    right: 30px;
    background: url("/images/right.png") center center / 100% no-repeat;
}


.section [id="slide01"]:checked ~ .slidewrap .slidelist > li {
    transform: translateX(0%);
}
.section [id="slide01"]:checked ~ .slidewrap .slidelist > .l02,
.section [id="slide01"]:checked ~ .slidewrap .slidelist > .l03,
.section [id="slide01"]:checked ~ .slidewrap .slidelist > .r02,
.section [id="slide01"]:checked ~ .slidewrap .slidelist > .r03 {
    visibility: hidden;
}
.section [id="slide02"]:checked ~ .slidewrap .slidelist > li {
    transform: translateX(-100%);
}
.section [id="slide02"]:checked ~ .slidewrap .slidelist > .l01,
.section [id="slide02"]:checked ~ .slidewrap .slidelist > .l03,
.section [id="slide02"]:checked ~ .slidewrap .slidelist > .r01,
.section [id="slide02"]:checked ~ .slidewrap .slidelist > .r03 {
    visibility: hidden;
}
.section [id="slide03"]:checked ~ .slidewrap .slidelist > li {
    transform: translateX(-200%);
}
.section [id="slide03"]:checked ~ .slidewrap .slidelist > .l01,
.section [id="slide03"]:checked ~ .slidewrap .slidelist > .l02,
.section [id="slide03"]:checked ~ .slidewrap .slidelist > .r01,
.section [id="slide03"]:checked ~ .slidewrap .slidelist > .r02 {
    visibility: hidden;
}