* {
    text-decoration: none;
    list-style: none;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    font-family: "Oswald-VariableFont_wght";
}
@font-face {
  font-family: "Orbit-Regular"; /* 사용하고 싶은 font-family명을 지정 */
  src: url("/fonts/Orbit-Regular.ttf") format("opentype"); /* 폰트파일 불러오기 */
  font-family: "Oswald-VariableFont_wght"; /* 사용하고 싶은 font-family명을 지정 */
  src: url("/fonts/Oswald/Oswald-VariableFont_wght.ttf") format("opentype"); /* 폰트파일 불러오기 */
}
header {
    width: 100%;
    height: 300px;
    font-size: 20px;
    color: white;
}
ul {
    height: 60px;
}
ul li:nth-child(1) {
    margin-left: 860px;
}
.nav {
    margin-top: 28px;
    display: flex;
    z-index: 10;
}
.nav li {
    margin-left: 30px;
}

a {
    color: white;
}
.nav #nav_liner {
    border-left: 1px solid white;
    height: 30px;
    margin-left: 29px;
}
.background_image video{
    position: absolute;
    width: 100%;
    height: 80vh;
    object-fit: fill;   
}
.background_image div {
    font-size: 2rem;
    text-align: center;
    padding-top: 18%;
    position: relative;
    color: black;
}
.head {
    width: 100%;
    height: 90px;

    background-color: #355764;
}
.logo {
    padding-left: 30px;
    padding-top: 25px;
    font-size: 25px;
}
.my-btn-class-47 { 
    position: relative; 
    z-index: 1;
    margin-left: 100px;
    top: -20%; 
    width: 160px;
    text-transform: uppercase; 
    font-weight: 600;
    cursor: pointer; 
    background: none; 
    border: 2px solid white; 
    color: white; 
    transition: all 0.3s ease 0s; 
    overflow: hidden; 
}
.my-btn-class-47::after { 
    content: "Time to painting"; 
    position: absolute;
    z-index: -1; 
    transition: all 0.3s ease 0s;
    padding-left: 12px;
}
.my-btn-class-47 span { 
    display: inline-block;
    margin: 0% 0% -26% -176%; 
    width: 100%; 
    height: 100%; 
    transition: all 0.3s ease 0s; 
}
.my-btn-class-47::before { 
    position: absolute; 
    height: 100%; 
    width: 100%; 
    line-height: 3.3; 
    transition: all 0.3s ease 0s; 
    content: "Click"; 
    left: -200%; top: 10%; 
}
.my-btn-class-47:active::before { 
    color: #355764; 
}
.my-btn-class-47:hover::before { 
    left: 0px; 
}
.my-btn-class-47:hover::after { 
    opacity: 0%;
}